pydantic_settings
alembic
torchsde
spandrel
kornia
comfyui-frontend-package==1.28.6
av
huggingface_hub
hf_transfer
hf_xet
accelerate
diffusers
onnxruntime-gpu==1.22.0
piexif
requests
deepspeed
ultralytics==8.3.197
comfyui-embedded-docs
comfyui-workflow-templates